.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container{
  margin-top: 50px;
  width: 500px;
  height: 500px;
  
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.auto-complete-text{
  width: 75%;
    height: 35px;
    border: 1px #c4c4c4;
    border-radius: 5px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #c4c4c4;
    border-image: unset;
    outline: 1px solid #c4c4c4;
}
.auto-complete-text:focus-visible{
  width: 75%;
  height: 35px;
   border-radius: 5px;
  font-size: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #c4c4c4;
  border-image: unset;
  border: none;
}
.suggestions{
  padding-inline-start: 0;
  width: 70%;
  border: 1px dashed #ccc;
  padding: 8px;
  border-radius: 5px;

}
.suggestions li{
  font-size: 16px;
  font-weight: 600px;
  height: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 5px;
  padding-inline-start: 10px;
}
.suggestions li::marker{
  display: none;
  color: white;
}
.suggestions li:hover{
  background: #c4c4c4;
  cursor: pointer;
}
.active{
  background: #c4c4c4;
}