.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.container{
  margin-top: 50px;
  width: 500px;
  height: 500px;
  
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.autoCompleteText{
  width: 75% !important;
    height: 35px!important;
    border: 1px #c4c4c4!important;
    border-radius: 5px!important;
    font-size: 16px!important;
    border-width: 1px!important;
    border-style: solid!important;
    border-color: #c4c4c4!important;
    border-image: unset!important;
    outline: 1px solid #c4c4c4!important;
}
.autoCompleteText:focus-visible{
  width: 75%;
  height: 35px;
   border-radius: 5px;
  font-size: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #c4c4c4;
  border-image: unset;
  border: none;
}
.suggestions{
  padding-inline-start: 0;
  width: 70%;
  border: 1px dashed #ccc;
  padding: 8px;
  border-radius: 5px;

}
.suggestions li{
  font-size: 16px;
  font-weight: 600px;
  height: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 5px;
  padding-inline-start: 10px;
}
.suggestions li::marker{
  display: none;
  color: white;
}
.suggestions li:hover{
  background: #c4c4c4;
  cursor: pointer;
}
.active{
  background: #c4c4c4;
}